/.quarto/
/_book/
/_exports/
/_freeze/
.DS_Store
.env
.env.*
!.env.example
*.log
*.aux
*.toc
*.out
*.tex
*.fls
*.fdb_latexmk
*.synctex*
*.xdv
missfont.log
chapter-template/*_files/
chapter-template/*.html
**/*.quarto_ipynb
